$color-titulo: #5C4937;

$bg-body: #FAF7F0;
$text-adicional: #E6D8A2;
$bg-card: #e0d5af;
$bg-header: #A3B18A;

$font-title: "Playfair Display", serif;
$font-text: "Montserrat", sans-serif;

$radius-card: 30px;
$radius-img: 80%;

$fs-base: 1rem;
$p_card_prod: $color-titulo